#calculator {
  height: 70vh;
  width: 60vh;
  margin: 20vh auto;
}

.gridContainer {
  height: 100%;
  width: 100%;
  background-color: yellow;
  display: grid;
  grid-template-columns: 4;
  grid-template-rows: 10% 10% auto;
  border: 2px solid black;
  /* padding: 1px; */
}

.display {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  font-size: 2rem;
}

#queue {
  grid-column: 1 / 5;
  grid-row: 1;
  background-color: #AAAAAA;
  overflow: hidden; /* not ideal */
}

#stage {
  grid-column: 1 / 5;
  grid-row: 2;
  background-color: #EEEEEE;
  overflow: hidden; /* not ideal */
}

.gridItem {
  font-size: 1.75rem;
  font-weight: 400;
  align-items: center;
  display: flex;
  justify-content: center;
  border: solid black;
  border-width: 1px 1px 0 0;
}

#btn1 {
  grid-column: 1;
  grid-row: 6;
}

#btn2 {
  grid-column: 2;
  grid-row: 6;
}

#btn3 {
  grid-column: 3;
  grid-row: 6;
}

#btn4 {
  grid-column: 1;
  grid-row: 5;
}

#btn5 {
  grid-column: 2;
  grid-row: 5;
}

#btn6 {
  grid-column: 3;
  grid-row: 5;
}

#btn7 {
  grid-column: 1;
  grid-row: 4;
}

#btn8 {
  grid-column: 2;
  grid-row: 4;
}

#btn9 {
  grid-column: 3;
  grid-row: 4;
}

#btn0 {
  grid-column: 1 / 3;
  grid-row: 7;
}

#btnC {
  grid-column: 2;
  grid-row: 3;
}

#btnPls {
  grid-column: 4;
  grid-row: 5;
  border-right: 0px;
}

#btnMin {
  grid-column: 4;
  grid-row: 4;
  border-right: 0px;
}

#btnDiv {
  grid-column: 3;
  grid-row: 3;
}

#btnMul {
  grid-column: 4;
  grid-row: 3;
  border-right: 0px;
}

#btnDec {
  grid-column: 3;
  grid-row: 7;
}

#btnAC {
  grid-column: 1;
  grid-row: 3;
  background-color: red;
}

#btnEql {
  grid-column: 4;
  grid-row: 6 / 8;
  background-color: red;
  border-right: 0px;
}

.button {
  appearance: none;
  background: none;
  font-size: 32px;
  padding-left: 12px;
  padding-right: 12px;
  outline: none;
  border: 2px solid transparent;
  color: rgb(112, 76, 182);
  padding-bottom: 4px;
  cursor: pointer;
  background-color: rgba(112, 76, 182, 0.1);
  border-radius: 2px;
  transition: all 0.15s;
}
